body{
	background-color:#d9d4c2;
	padding-top:100px;
}
.task-item{
	width:700px; 
	margin:40px auto 0;  
	background:#fff; 
	border-radius:0 0px 20px 20px; 
	border-bottom:1px solid #847534; 
}
.task-header{
	height:50px; 
	background:url('../images/header_bg.gif') left top repeat-x; 
	border:1px solid #315589;
	font-size:21px; 
	text-shadow: 1px 1px 0px black; 
	cursor:pointer; 
	padding:10px 0 0 10px;
	color:#fff;
}	
.task-header input{
	background:none;  
	border:none;  
	color:#fff; 
	font-size:21px; 
	text-shadow: 1px 1px 0px black; 
	cursor:pointer; 
	resize:none; 
	height:35px; 
	overflow:hidden;
	color:red;
}
.task-header input[disabled]{
	color:#fff;
}
.task-links{
	float:right; 
	opacity:0.1; 
	font-size:0;
}
.task-links a{
	padding: 5px 10px; 
	border-left:1px solid #5284bf; 
	width:17px; 
	height:17px; 
	float:left;
}
.task-links a.edit-list{
	background:url('../images/edit-icon.png') 10px 5px no-repeat;
}
.task-links a.save{
	display:none;
}
.task-links a.save.visible{
	display:block;
	background:url('../images/save-icon.png') 10px 5px no-repeat;
	border-left:1px solid #5284bf; 
}
.task-links a.save{
	border-left:none;
}
.task-links a.edit-list:hover{
	background:url('../images/edit-icon-hover.png') 10px 5px no-repeat;
}
.task-links a.remove-list{
	background:url('../images/remove-icon.png') 10px 3px no-repeat;
}
.task-links a.remove-list:hover{
	background:url('../images/remove-icon-hover.png') 10px 5px no-repeat;
}
.task-links img{
	padding: 5px 10px; border-left:1px solid #5284bf;
}
.task-header:hover .task-links{
	opacity:1;
} 
.task-header img{
	vertical-align:middle; padding-right:10px; 
}
.add-task{
	border:1px solid #aaaaaa;  
	border-top:none;height:50px; 
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#cccccc 100%); /* W3C */
	padding:10px;
}
.add-task img{
	float:left; 
	margin:5px 10px 0 0;
}
.add-task input{
	height:30px; 
	line-height:30px; 
	border:none; 
	border-top:1px solid #707070; 
	width:500px; 
	float:left; 
	box-shadow: inset 0 0 1px; 
	padding:0 15px;
	font-size:13px; 
	color:#999999; 
}
.add-task button{
	float:left; 
	width:106px; 
	height:31px;
	border:1px solid #447557; 
	border-radius:0 10px 10px 0; 
	background: #94cbae; /* Old browsers */
	background: -moz-linear-gradient(top,  #94cbae 0%, #508767 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94cbae), color-stop(100%,#508767)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #94cbae 0%,#508767 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #94cbae 0%,#508767 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #94cbae 0%,#508767 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #94cbae 0%,#508767 100%); /* W3C */
	text-shadow: 1px 1px 0px black; font-size:17px; color:#fff;
}
.add-task button[disabled=disabled],.add-task button:disabled{
	background: grey; /* Old browsers */
}
.task-list{
	background: #b1b2a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #b1b2a1 0%, #d9d4c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1b2a1), color-stop(100%,#d9d4c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b1b2a1 0%,#d9d4c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b1b2a1 0%,#d9d4c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b1b2a1 0%,#d9d4c2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b1b2a1 0%,#d9d4c2 100%); /* W3C */
	padding:0 1px;
	margin-bottom:14px;}
.task-list li{
	background-color:#fff; 
	border-top:1px solid #e7ebea;
	min-height:35px; 
	cursor:pointer; 
	padding:15px 0 0 0;
}
.task-list li.deadline{
	background-color:#FFCCCC; 
	border-top:1px solid #C1C1C1;
}
.task-list li:hover{
	background-color:#fcfed5; 
}
.task-list li input[type="checkbox"]{
	margin:0 15px; 
}
.task-list li input{
	margin:0; 
	padding:0; 
	border:none; 
	background:none; 
	color:red; 
	font-size:15px;
}
.task-list li input[disabled]{
	color:#999999;
}
.task-list li input.finish{
	margin:0; 
	padding:0; 
	border:none; 
	background:none;
	text-decoration:line-through;
} 
.task-list .list-links{
	float:right; 
	min-height:30px;  
	margin:5px 20px 0 0; 
	font-size:0;
	position:relative; 
	width:255px;	
}
.list-links.hide{
	display:none;
}
.task-list .list-links  a{
	opacity:0;  
	display:block; 
	float:left;
	margin:2px 10px;
}
.list-links  .calendar{
	width:110px; 
	text-align: center; 
	margin:0px 10px;  
	display:inline-block; 
	float:left;
	padding-right:30px; 
	font-size:11px; 
	color:green; 
	border-right:1px solid #E7EBEA;
}
.deadline .calendar{ 
	color:red; 
	font-weight:bold;
	border-right:1px solid #C1C1C1;
}

.list-links .sort{
	float:left;
	margin:0 10px; 
	position:relative;  
	background:url('../images/icons.png') left 2px no-repeat; 
	height:17px; 
	opacity:0; 
	width:10px;
}
.list-links a.sort-top{
	height:6px; 
	width:11px; 
	position:absolute;	
	top:2px; 
	left:0; 
	margin:0;
}
.list-links .sort-top:hover{
	background:url('../images/icons.png') -7px -13px no-repeat; 
	top:0; 
}
.list-links .sort-bottom:hover{
	background:url('../images/icons.png') -7px -21px no-repeat;
}
.list-links a.sort-bottom{
	height:6px; 
	width:11px;
	position:absolute; 
	bottom:0px; 
	left:0; 
	margin:0;
}
.task-list li:hover .list-links a,.task-list li:hover .list-links span, .task-list li:hover  .sort{
	opacity:1; 
}
.list-links .edit{
	height:12px; 
	width:12px; 
	background:url('../images/icons.png') -21px 0 no-repeat;
}
.list-links .edit:hover{
	background:url('../images/icons.png') -21px -13px no-repeat;
}
.list-links .save{
	display:none; 
}
.list-links .save.visible{
	display:inline-block;
	height:12px; 
	width:12px; 
	background:url('../images/item-save.png') left top no-repeat;
}
.list-links .remove{
	height:12px; width:12px; background:url('../images/icons.png') -41px 0 no-repeat;
}
.list-links .remove:hover{
	background:url('../images/icons.png') -41px -13px no-repeat;
}
.add-list{
	height:30px; 
	background:url('../images/header_bg.gif') left top repeat-x; 
	border:1px solid #315589; 
	color:#fff; 
	font-size:17px; 
	text-shadow: 1px 1px 0px black; 
	cursor:pointer;
	width:170px;   
	 border-radius: 0 10px 10px 0; 
	line-height:30px; 
	text-align:center;
	display:inline-block;
	vertical-align:top;
}
.add-list[disabled=disabled],.add-list:disabled{
	background: grey; /* Old browsers */
}
.add-list:hover{
	text-shadow: 0px 0px 1px black;
}
.fixed{
	position:fixed;
	top:0px;
	width:100%;
	border:1px solid #aaaaaa;  
	border-top:none;
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#cccccc 100%); /* W3C */
	text-align:center;
	border-radius:0 0px 20px 20px; 
	border-bottom:1px solid #847534; 
	height:70px;
	padding:20px;
}
.fixed input{
	height:30px; 
	line-height:30px; 
	border:none; 
	border-top:1px solid #707070; 
	width:300px; 
	box-shadow: inset 0 0 1px; 
	padding:0 15px;
	font-size:13px; 
	color:#999999; 
	display:inline-block;
	margin:0;
	vertical-align:top;
	 border-radius: 10px 0 0 10px;
}

.info-sql li{
	padding-left:30px;
}
#result{padding:30px;}